/** Zebra keyboard layout style */
.string-instrument {
  display: inline-block;
  margin-right: 20pt;
  margin-bottom: 25pt;
}

/* string */
.string-instrument .strings > div {
}

/* open string frets */
.string-instrument .strings > div > span:first-child {
  width: 10pt;
  background-color: black;
}
/* all frets */
.string-instrument .strings > div > span {
  width: 25pt;
  height: 15pt;
  border: solid 1pt black;
  background-color: brown;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.string-instrument .strings > div > span.selected p {
  background-color: red;
}
.string-instrument .strings > div > span.selected.root p {
  background-color: yellow;
}
.string-instrument .strings > div > span.ignore p,
.string-instrument .strings > div > span.selected.root.ignore p {
  background-color: brown;
  color: brown;
}
.string-instrument .note-text {
  display:inline-block;
  font-size: 9pt;
  min-width: 12pt;
  margin: 0;
  border-radius: 50%;
}
