/** Zebra keyboard layout style */
.string-instrument {
  --fretboard-color: burlywood;
  display: inline-block;
  margin-right: 20pt;
  margin-bottom: 25pt;
}
/* all frets */
.string-instrument .frets .fret {
  /* the width gets set via JS */
  display: inline-block;
  background-color: var(--fretboard-color);
  border-right: 1px solid black;
  position: relative;
}
/* open string frets */
.string-instrument .frets > .fret:first-child {
  width: 10pt;
  background-color: black;
}
.string-instrument .frets > .fret > .mark,
.string-instrument .frets > .fret > .mark2 {
  position: absolute;
  bottom: calc(50% - 3pt);
  background-color: black;
  width: 6pt;
  height: 6pt;
  display: inline-block;
  border-radius: 50%;
  margin-left: calc(50% - 3pt);
}

.string-instrument .frets > .fret > .mark2 {
  box-shadow: 0px 50px 0px 0px;
  bottom: calc(50% + 50px / 2 - 3pt);
}

/* string */
.string-instrument .frets > .fret > p {
  /* http://png-pixel.com/ */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=);
  background-repeat: repeat-x;
  /* clip-path: inset(45% 0 45% 0); */
  background-position: center;
  width: inherit;
  height: 15pt;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.string-instrument .note-text {
  display: inline-block;
  z-index: 1;
  position: relative;
  font-size: 9pt;
  min-width: 12pt;
  margin: 0;
  border-radius: 50%;
}
.string-instrument .frets > .fret > p.selected > .note-text {
  background-color: red;
}
.string-instrument .frets > .fret > p.selected.root > .note-text {
  background-color: yellow;
}
.string-instrument .frets > .fret > p.ignore > .note-text,
.string-instrument .frets > .fret > p.selected.root.ignore > .note-text {
  background-color: var(--fretboard-color);
  color: var(--fretboard-color);
}
