:root {
  --main-background-color: #edfdf8;
  --form-element-background-color: #EEF5FD;
  --chord-group-background-color: rgba(50, 165, 255, 0.06);
}
body {
  background-color: var(--main-background-color);
}
input[type="button"] {
  line-height: 7pt;
  height: 13pt;
}
.form textarea {
  height: 50pt;
}
section#templates {
  display: none;
}
.chord-group {
  margin-bottom: 5pt;
  margin: 5pt;
  border-bottom: 1pt solid black;
}
.chord-group .title {
  font-size: 14pt;
  margin: 0;
  margin-left: 8pt;
}
.result > .chord-reference-group {
  border: none !important;
  display: block;
  border-bottom: dashed 2pt black !important;;
  background-color: transparent;
}
.chord-reference-group {
  border: dotted black 1pt;
  display: inline-block;
  padding: 2pt;
  margin: 2pt;
  background-color: var(--chord-group-background-color);
}
.chord-reference-group:hover {
  border: solid black 1pt;
}
.chromatic.keyboard {
  display: inline-block;
  margin-right: 4pt;
}
.chromatic.keyboard .row {
  margin: 0pt;
  margin-bottom:-2pt;
  padding: 0pt;
  height: 20pt;
  font-size: 0;
}
.chromatic.keyboard .row.x {
  margin-left: 11pt;
}
.chromatic.keyboard span { /* note */
  display: inline-block;
  width: 20pt;
  height: 20pt;
  color: #354b45;
  background-color: beige; /* #00c0a3;*/
  border: 1px solid #354b45;
  border-radius: 50%;
  font-size: 12pt;
  vertical-align: top;
  text-align: center;
  margin-top: 2pt;
}
.chromatic.keyboard span .note-text {
  line-height: 19pt;
}
.chromatic.keyboard span.selected {
  background-color: #ffa17a;
}
.chromatic.keyboard span.played {
  background-color: red !important;
}
.chromatic.keyboard span.root {
  border-color: #354b45;
  background-color: yellow;
  color: #354b45;
}
.chromatic.keyboard .description {
  margin-top: 4pt;
}
.chromatic.keyboard .diff {
  font-size: 7px;
  position: relative;
  top: -26px;
  right: 1px;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.interactive-form .form {
  position: sticky;
  top: 0;
  width: 100%;
}
.interactive-form .scale {
  width: 100pt;
}
.interactive-form .scales-controls {
  display: inline-block;
  max-width: 85pt;
}
.interactive-form .scales-controls input {
  top: -23px;
  position: relative;
}
.interactive-form .scale_container input[type="button"] {
  width: calc(25% - 4px);
  padding: 0;
}
.interactive-form .scale_container input[value=">"] {
  float: right;
}
.interactive-form .scale_container input[type="text"] {
  width: calc(100% - 10pt);
}
.interactive-form .scale_container {
  display: inline-block;
  max-width: 145pt;
}
.interactive-form .scale_container label {
  display: inline-block;
}
.interactive-form input[name="instrument"] {
  width: 15pt;
}
.interactive-form .result {
  min-height: 420pt;
  margin-top: 4pt;
}
.interactive-form .voicing-preset,
.interactive-form .arpeggio-patterns-preset,
.interactive-form .rhythms-preset {
  max-width: 50pt;
}
.preset {
  width: 50pt;
}
.form-element {
  display: inline-block;
  vertical-align: top;
  padding: 1pt;
  border: outset 2pt;
  background-color: var(--form-element-background-color);
}
.form-element .form-element {
  border: none;
}
.form-element select,
.form-element input[type="range"] {
  max-width: 100%;
}
.transport input[type="button"] {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: calc(33.33% - 1pt);
}
.transport input.lockable:active,
.transport input.lockable.active {
	position: relative;
	top: 2px;
}
.form-element input[name="loop"] {
  margin-right: 5pt;
  margin: 0;
  padding: 0;
}
.form-element input[name="bpm"],
.form-element input[name="bpm_output"] {
  display: inline-block;
  padding: 0;
  width: 20pt;
  margin: 0;
  vertical-align: middle;
}
.form-element input[name="bpm"] {
  width: calc(100% - 20pt - 20px);
}
.form-element label {
  display: inline-block;
}
.form-element textarea {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}
.form-element .messages .error {
  color: red;
}
.form-element .messages .warning {
  color: yellow;
  background-color: black;
}
.secondary-form-elements {
  float: right;
  width: 110pt;
}
.secondary-form-elements .form-element {
  display: block;
}
.hidden {
  display: none;
}
.visualization > div, .visualization > span  {
  margin-bottom: 2px;
}
.track .visualization {
  margin: 5px 0 10px 0;
}
